<%= div_for comment, :class => "media" do %>
  <a class="pull-left" href="#">
    <%= image_tag comment.user.gravatar_url, :size => "32x32" %>
  </a>
  <div class="media-body">
    <div class="content"><%= comment.user.name %>: <%= comment.comment %></div>
    <div class="created_at"><%= time_ago_in_words comment.created_at %></div>
  </div>
<% end %>