<%= div_for comment do %>
<div class="row-fluid">
  <div class="span1">
    <%= image_tag comment.user.gravatar_url %>
  </div>
  <div class="span11">
    <div class="content"><%= comment.user.name %>: <%= comment.content %></div>
    <div class="created_at"><%= comment.created_at %></div>
  </div>
</div>
<% end %>