<%= div_for topic do %>
<div class="row-fluid">
  <div class="span1">
    <%= image_tag topic.user.gravatar_url %>
  </div>
  <div class="span11">
    <div class="content"><%= topic.user.name %>: <%= topic.content %></div>
    <div class="created_at">
      <%= topic.created_at %>
      <div class="pull-right">
        <%= link_to "喜欢 #{topic.flowers.count}", flowers_path(:topic_id => topic), :method => :post, :remote => true %>
      </div>
    </div>
    <div class="comments"></div>
  </div>
</div>
<% end %>