<%= div_for topic do %>
<div class="row-fluid">
  <div class="span1">
    <%= image_tag topic.user.gravatar_url %>
  </div>
  <div class="span11">
    <div class="content"><%= topic.user.name %>: <%= topic.content %></div>
    <div class="created_at"><%= topic.created_at %></div>
    <div class="comments"></div>
  </div>
</div>
<% end %>