<%= div_for user, :class => "row-fluid" do %>
  <div class="span2"><%= image_tag user.gravatar_url %></div>
  <div class="span10">
    <div>
      <%= user.name %>
      <% if current_user.following?(user) %>
        <%= link_to "取消", [user, :follow], :class => "btn btn-mini", :method => :delete %>
      <% else %>
        <%= link_to "关注", [user, :follow], :class => "btn btn-mini", :method => :post %>
      <% end %>
    </div>
    <div><%= user.created_at %></div>
  </div>
<% end %>