<%= simple_form_for [:admin, @user], :html => { :class => 'form-horizontal'} do |f| %>

  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  
  <%= f.association :roles, :as => :check_boxes %>

  <div class="form-actions">
    <%= f.submit :class => "btn" %>
  </div>

<% end %>