<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">冷！</a>
        <%= render_list :class => "nav" do |li|
          li << link_to("笑话", topics_path)
        end %>
        
        <%= render_list :class => "nav pull-right" do |li|
          if user_signed_in?
            li << link_to(current_user.name, edit_user_path(current_user))
            li << link_to("退出", destroy_user_session_path, :method => :delete)
          else
            li << link_to("登录", new_user_session_path)
            li << link_to("注册", new_user_registration_path)
          end
        end %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render_breadcrumb %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</body>
</html>
