<!DOCTYPE html>
<html>
<head>
  <title>Leng</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">冷！</a>
        <%= render_list :class => "nav" do |li|
          li << link_to("笑话", topics_path)
        end %>
        
        <%= render_list :class => "nav pull-right" do |li|
          li << link_to("登录", new_session_path)
          li << link_to("注册", new_user_path)
        end %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render_breadcrumb %>
    <div class="row">
      <div class="span8">
        <%= notice_message %>
        <%= yield %>
      </div>
      <div class="span4">
        
      </div>
    </div>
  </div>
</body>
</html>
